<section class="team" id="team">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" class="team-img" src="../../../UploadFiles/Elevator/lift10.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Thang máy</span>
                        </div>

                        <div class="team-over">
                            <h4 class="hidden-md-down">
                                Xem chi tiết
                            </h4>

                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" class="team-img" src="../../../UploadFiles/Elevator/lift10.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Thang cuốn</span>
                        </div>

                        <div class="team-over">
                            <h4 class="hidden-md-down">
                                Xem chi tiết
                            </h4>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" class="team-img" src="../../../UploadFiles/Elevator/lift10.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Điều hòa trung tâm</span>
                        </div>

                        <div class="team-over">
                            <h4 class="hidden-md-down">
                                Xem chi tiết
                            </h4>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" class="team-img" src="../../../UploadFiles/Elevator/lift10.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Điều hòa thường</span>
                        </div>

                        <div class="team-over">
                            <h4 class="hidden-md-down">
                                Xem chi tiết
                            </h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>